<!doctype html>
<title>TrackPack</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src = "{{ url_for('static', filename = 'scripts.js') }}"></script>
<section class="content">
  <header>
    {% block nav %}
    {% endblock %}
    {% block app_title %}
      <a href = "{{ url_for('home.home') }}">
        <img src = {{ url_for('static', filename = 'images/LogoV3.png') }}/>
      </a>
    {% endblock %}
    {% block header %}
    {% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
