:root {
  --TrackPackBlue: #131d3a;
  --TrackPackOrange: #ed673a;
}

html {
  font-family: sans-serif;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

html * {
  text-align: center;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

a {
  color: var(--TrackPackBlue);
  text-decoration: none;
}

button {
  cursor: pointer;
}

#landing_container {
  background-color: var(--TrackPackBlue);
  border-radius: 5px;
  padding: 10px 10px;
}

#index_add_button {
  background-color: var(--TrackPackOrange);
  color: white;
  font-size: 24px;
  padding: 10px;
}

.button_row {
  display: flex;
  justify-content: flex-end;
}

.package_button {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  font-size: 16px;
  background-size: cover;
  background-color: transparent;
  border: 0;
  filter: drop-shadow(0px 0px 5px white);
}

.edit_button {
  background-image: url('images/pencil_icon.png');
 
}

.remove_button {
  background-image: url('images/delete_icon.png');
}

#add_package_container {
  max-width: 600px;
  align-self: center;
  margin: auto;
}

#add_package_form, #edit_package_form {
  display: inline-block;
}

#all_packages {
  max-width: 600px;
  margin: auto;
}

.package_container {
  background: var(--TrackPackBlue);
  margin: 10px 0;
  padding: 15px 15px;
  border-radius: 1rem;
}

.package_row {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.package_label, .package_value {
  margin: 10px 10px;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

form input {
  background: white;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}
