{% extends 'base.html' %} 
{# Contains nav bar and title for home page variations #} 
{% block nav %}
	<nav>
		<ul>
			{% if g.user %}
				<li><span class = "nav_elem">{{ g.user['username'] }}</span></li>
				<li><a class = "nav_elem" href="{{ url_for('auth.logout') }}">Log Out</a> </li>
			{% else %}
				<li><a class = "nav_elem" href="{{ url_for('auth.register') }}">Register</a></li>
				<li><a class = "nav_elem" href="{{ url_for('auth.login') }}">Log In</a></li>
			{% endif %}
		</ul>
	</nav>
{% endblock %} 
{% block content %} {% endblock %}
