{% extends 'base.html' %}
{% block header %}
  <nav>
    <ul>
      {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </nav>
  <h1 id = "primaryTitle">TrackPack</h1>
{% endblock %}
{% block content %}
  {% if packages %}
    <div id = "all_packages">
      {% for package in packages %}
        <div class = "package_container">
          {% if package['user_description'] %}
            <div class = "package_row">
              <h2 class = "package_label">Description:</h2>
              <h2 class = "package_value">{{ package['user_description'] }}</h2>
            </div>
          {% endif %}
          {% if package['recipient'] %}
            <div class = "package_row">
              <h2 class = "package_label">Recipient:</h2>
              <h2 class = "package_value">{{ package['recipient'] }}</h2>
            </div>
          {% endif %}
          {% if package['tracking_number'] %}
            <div class = "package_row">
              <h2 class = "package_label">Tracking Number:</h2>
              <h2 class = "package_value">{{ package['tracking_number'] }}</h2>
            </div>
          {% endif %}
          {% if package['carrier'] %}
            <div class = "package_row">
              <h2 class = "package_label">Carrier:</h2>
              <h2 class = "package_value">{{ package['carrier'] }}</h2>
            </div>
          {% endif %}
          {% if package['current_status'] %}
            <div class = "package_row">
              <h2 class = "package_label">Current Status:</h2>
              <h2 class = "package_value">{{ package['current_status'] }}</h2>
            </div>
          {% endif %}
          {% if package['order_date'] %}
            <div class = "package_row">
              <h2 class = "package_label">Order Date:</h2>
              <h2 class = "package_value">{{ package['order_date'] }}</h2>
            </div>
          {% endif %}
          {% if package['delivery_date'] %}
            <div class = "package_row">
              <h2 class = "package_label">Delivery Date:</h2>
              <h2 class = "package_value">{{ package['delivery_date'] }}</h2>
            </div>
          {% endif %}
          {% if package['delivered'] != None %}
            <div class = "package_row">
              <h2 class = "package_label">Delivered:</h2>
              {% if package['delivered'] == 1 %}
                <h2 class = "package_value">Yes!</h2>
              {% else %}
                <h2 class = "package_value">Not Yet</h2>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}