{% extends 'home/home.html' %}
{% block content %}
	<a href="{{ url_for('home.add_package') }}">
		<button id="index_add_button">Add New Package!</button>
	</a>
	{# Check to make sure packages were found #}
	{% if packages %}
	<div id="all_packages">
		{# Iterate over packages #}
		{% for package in packages %}
			<div class="package_container">
				<div class="button_row">
					<form method="post">
						<button class="edit_button package_button" type="submit" title="Edit this package" name="edit"
							value="{{ package['id'] }}">✏️</button>
					</form>
					<form method="post">
						<button class="remove_button package_button" type="submit" title="Remove this package" name="remove"
							value="{{ package['id'] }}">X</button>
					</form>
				</div>
				{# Check for each column of package table #}
				{# Create row if package has that property #}
				{% for key, value in options.items() %}
					{% if package[key] %}
						<div class="package_row">
							<h2 class="package_label">{{ options[key] }}:</h2>
							<h2 class="package_value">{{ package[key] }}</h2>
						</div>
					{% endif %}
				{% endfor %}
				{# Delivered property checked separately #}
				{% if package['delivered'] != None %}
				<div class="package_row">
					<h2 class="package_label">Delivered:</h2>
					{% if package['delivered'] == 1 %}
					<h2 class="package_value">Yes!</h2>
					{% else %}
					<h2 class="package_value">Not Yet</h2>
					{% endif %}
				</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	{% else %}
		<h2>You have no packages yet.</h2>
		<h2>Add some above!</h2>
	{% endif %}
{% endblock %}