{% extends 'home/home.html' %}
{% block content %}
	<a href="{{ url_for('home.add_package') }}">
		<button id="index_add_button">Add New Package</button>
	</a>
	{# Check to make sure packages were found #}
	{% if packages %}
	{# Inputs to apply filters to packages #}
	<div id="filter_container">
		<h2 id="filter_title">Filters</h2>
		{% for key, value in options.items() %}
			<div class="package_row">
				<h2 class="package_label">{{ options[key] }}:</h2>
				<input class="package_value {{ key }}" onkeyup="filterPackages()"/>
			</div>
		{% endfor %}
		<div class="package_row">
			<h2 class="package_label">Delivered:</h2>
			<input class="package_value delivered" onkeyup="filterPackages()"/>
		</div>
		<div class="package_row">
			<div></div>
			<button id="clear_button" onclick="clearFilters()">Clear</button>
		</div>
	</div>
	<div id="all_packages">
		{# Iterate over packages #}
		{% for package in packages %}
			<div class="package_container">
				<div class="button_row">
					<form action = "{{ url_for('home.edit_package', package_id = package['id']) }}" method="get">
						{# Edit button acts as a form submission, results in redirect #}
						<button class="edit_button package_button" type="submit" title="Edit this package"></button>
					</form>
					<form action = "{{ url_for('home.remove_package', package_id = package['id']) }}" method="post">
						{# Calls for deletion and reloads homepage #}
						<button class="remove_button package_button" type="submit" title="Remove this package" 
						onclick="return confirm('Are you sure you want to delete this package?');"></button>
					</form>
				</div>
				{# Check for each column of package table #}
				{# Create row if package has that property #}
				{% for key, value in options.items() %}
					{% if package[key] %}
						<div class="package_row">
							<h2 class="package_label">{{ options[key] }}:</h2>
							<h2 class="package_value {{ key }}">{{ package[key] }}</h2>
						</div>
					{% endif %}
				{% endfor %}
				{# Delivered property checked separately #}
				{% if package['delivered'] != None %}
				<div class="package_row">
					<h2 class="package_label">Delivered:</h2>
					{% if package['delivered'] == 1 %}
						<h2 class="package_value delivered">Yes</h2>
					{% else %}
						<h2 class="package_value delivered">No</h2>
					{% endif %}
				</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	{% else %}
		<h2>You have no packages yet.</h2>
		<h2>Add some above!</h2>
	{% endif %}
{% endblock %}