{% extends 'home/home.html' %}
{% block content %}
    <div id="landing_container">
        <h1 id="landing_title">Welcome to TrackPack!</h1>
        <a href="{{ url_for('auth.register') }}">
            <button class="home_link_button">Create Account</button>
        </a>
        <a href="{{ url_for('auth.login') }}">
            <button class="home_link_button">Log In</button>
        </a>
        <p>
            Shopping online is so much more relaxing than traveling from store to store, 
            but it brings some new problems with it. After making purchases from a few different 
            places, your email inbox starts to flood with different kinds of notifications.
        </p>
        <p>
            Suddenly, you have dozens of emails from numerous retailers about each order,
            when they're placed, when they've shipped, how they shipped, when they're expected
            to be delivered, and every other little update you can imagine. There comes a 
            point that it's hard to keep up with what's arriving, where, how, and when. 
        </p>
        <img src="{{ url_for('static', filename = 'images/landing_emails.png') }}">
        <p>
            That's where TrackPack comes in! 
        </p>
        <p>
            With TrackPack, you can keep the information about all of your packages organized 
            in one tidy location. We allow you to put as much or as little as you like about
            your packages. 
        </p>
        <img src="{{ url_for('static', filename = 'images/landing_add_new.png') }}">
        <p>
            As a bonus, we automatically provide tracking links for packages being sent with
            FedEx, UPS, and USPS. If you have a new package from any of those three carriers,
            make sure to include the tracking number and select the carrier from the dropdown.
            When you see the package on the home page, the tracking number will also be a link
            to take you directly to that package's tracking info. 
        </p>
        <img src="{{ url_for('static', filename = 'images/landing_links.png') }}">
        <p>
            TrackPack also provides filtering for packages you've logged with us, so the more
            thorough you are, the more it can help you. The fields update live as you type in
            them. If you can fill the field out, you can filter it.
        </p>
        <p>
            You also have the ability to edit packages you've already submitted. If you need to
            change anything that you've written, just click the pencil icon in the top right
            corner of the package. We'll save whatever updates you make so you can clear your
            inbox and brain space. 
        </p>
        <p>
            Create an account to get started now!
        </p>
        <a href="{{ url_for('auth.register') }}">
            <button class="home_link_button">Sign Up Here!</button>
        </a>
    </div>
{% endblock %}